In [1]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#import datasets
gdp = pd.read_csv("./resources/gdp.csv")
protest = pd.read_csv("./resources/world_protest.csv")

### Clean GDP dataframe
* convert from wide format to long format using pandas
* Rename column headers and reset index

*Note: For country/years with NaN, we decided to leave in NaN rather than convert to 0. NaN represents a null value for which data was not collected that year by the world bank. A value of 0 would represent a 0% GDP and could complicate downstream analysis*

In [3]:
#Add an id column
gdp["id"] = gdp.index

In [4]:
#Use pandas method to convert dataframe from wide to long based off of year
gdp = pd.wide_to_long(gdp, ["X"], i = "id", j="year")

In [10]:
#Explain why we are leaving in the NaN
gdp_df = gdp.rename(columns= {"X":"gdp", "Country Code": "country_code", "Country Name": "country_name"}).reset_index()

In [19]:
gdp_df = gdp_df[["year", "country_code", "country_name", "gdp"]]
gdp_df

       year country_code  country_name       gdp
0      1961          ABW         Aruba       NaN
1      1961          AFG   Afghanistan       NaN
2      1961          AGO        Angola       NaN
3      1961          ALB       Albania       NaN
4      1961          AND       Andorra       NaN
...     ...          ...           ...       ...
15571  2019          XKX        Kosovo  4.171660
15572  2019          YEM   Yemen, Rep.       NaN
15573  2019          ZAF  South Africa  0.152583
15574  2019          ZMB        Zambia  1.705793
15575  2019          ZWE      Zimbabwe -8.100000

[15576 rows x 4 columns]

## Clean Mass Protest dataframe
* Select columns of interest
* Group data by country and year to get the total number of protest each year 
* Reset index

In [15]:
protest = protest[["id", 'country', 'year', 'protest']]
protest_df = protest.groupby(['country', 'year']).sum()['protest'].reset_index()
protest_df

          country  year  protest
0     Afghanistan  1990        0
1     Afghanistan  1991        1
2     Afghanistan  1992        0
3     Afghanistan  1993        0
4     Afghanistan  1994        0
...           ...   ...      ...
4712     Zimbabwe  2015        3
4713     Zimbabwe  2016       17
4714     Zimbabwe  2017        5
4715     Zimbabwe  2018        5
4716     Zimbabwe  2019        4

[4717 rows x 3 columns]

### Connect to PostgreSQL database on pgAdmin

In [13]:
rds_connection_string = "postgres:lms9878@localhost:5434/etl_mass_gdp"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
engine.table_names()

['gdp', 'mass_protest']

### Load CSV converted DataFrame into database using pandas

In [18]:
gdp_df.to_sql(name='gdp', con=engine, if_exists='append', index=False)
protest_df.to_sql(name='gdp', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "country" of relation "gdp" does not exist
LINE 1: INSERT INTO gdp (country, year, protest) VALUES ('Afghanista...
                         ^

[SQL: INSERT INTO gdp (country, year, protest) VALUES (%(country)s, %(year)s, %(protest)s)]
[parameters: ({'country': 'Afghanistan', 'year': 1990, 'protest': 0}, {'country': 'Afghanistan', 'year': 1991, 'protest': 1}, {'country': 'Afghanistan', 'year': 1992, 'protest': 0}, {'country': 'Afghanistan', 'year': 1993, 'protest': 0}, {'country': 'Afghanistan', 'year': 1994, 'protest': 0}, {'country': 'Afghanistan', 'year': 1995, 'protest': 0}, {'country': 'Afghanistan', 'year': 1996, 'protest': 0}, {'country': 'Afghanistan', 'year': 1997, 'protest': 1}  ... displaying 10 of 4717 total bound parameter sets ...  {'country': 'Zimbabwe', 'year': 2018, 'protest': 5}, {'country': 'Zimbabwe', 'year': 2019, 'protest': 4})]
(Background on this error at: http://sqlalche.me/e/f405)